@page
@model CandidateManagement_MaiVanQuocTinh.Pages.Tinh.DetailsModel

@{
    ViewData["Title"] = "Candidate Details";
}

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <h4>Candidate Profile</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CandidateProfile.Fullname)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CandidateProfile.Fullname)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CandidateProfile.Birthday)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CandidateProfile.Birthday)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CandidateProfile.ProfileShortDescription)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CandidateProfile.ProfileShortDescription)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CandidateProfile.ProfileUrl)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CandidateProfile.ProfileUrl)
                </dd>

                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.CandidateProfile.Posting)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CandidateProfile.Posting.PostingId)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a class="btn btn-primary mr-2" asp-page="./Edit" asp-route-id="@Model.CandidateProfile?.CandidateId">Edit</a>
            <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>
